body {
    background-image: url('images/background.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
  }
  
  .keys {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*
  .key {
    border: 2px solid #050505;
    margin: 5px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .key:hover {
    background-color: orange;
  }
  */
  .key {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .key:hover {
    background-color: #eee;
  }
  
  .pressed {
    background-color: #ffc;
  }  
  kbd {
    display: block;
    font-size: 2em;
    margin-bottom: 5px;
  }
  
  .sound {
    font-size: 1.2em;
    color: #fff;
  }
  